body{
	margin: 0;
	background-color: #E4CDA7;
}
img{
	max-width: 100%;
	height: auto;
}
.gallery{
	margin: 0 0.65rem;
}
.gallery-item{
	height: auto;
	margin: 0.5rem;
}
.gallery-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media(min-width: 640px){
	.gallery{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 300px);
		grid-auto-flow: row dense;
	}

	.gallery-item{
		margin: 0.7rem;
	}
	.gallery-item:first-child{
		grid-row: span 1;
	}
	.gallery-item:nth-child(2){
		grid-column: 2 / 3;
		grid-row: span 2;
	}

	.gallery-item:nth-child(6),
	.gallery-item:nth-child(8){
		grid-row: span 2;
	}
}

@media(min-width: 960px){
	.gallery{
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, auto-flow);
	}

	.gallery-item:first-child,
	.gallery-item:nth-child(7)
	.gallery-item:nth-child(8) {
		grid-column: span 2;
		grid-row: span 1;
	}

	.gallery-item:nth-child(2){
		grid-column: span 2;
		grid-row: span 2;
	}
}

h1{
	text-align: center;
	font-family: arial;
	text-transform: uppercase;
}
p{
	text-align: center;
	text-decoration: none;
	font-family: calibri;
	text-transform: uppercase;

}
button{
	color: whitesmoke;
	text-transform: capitalize;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px 22px;
	font-size: 12px;
	border-radius: 30px;
	border: none;
	background-color: C3B091;
	text-transform: uppercase;
	background-color: #A52A2A;
}
button:hover{
	background: #800020;
}