  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  .counter{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 200px;
    padding: 0 0 45px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: '';
    background-color: #05BCC0;
    height: calc(100% - 120px);
    width: 100%;
    border-radius: 0 0 20px 20px;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: -1;
}
.counter:after{
    width: 30px;
    height: 30px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    bottom: 6px;
    left: 50%;
}
.counter .counter-value{
    color: #05BCC0;
    background: linear-gradient(#f9f9f9 50%,#f2f2f2 50%);
    font-size: 45px;
    font-weight: 600;
    line-height: 200px;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    border-radius: 50%;
    box-shadow: 0 -5px 0 rgba(255,255,255,0.8),0 10px 10px rgba(0, 0, 0, 0.3);
    display: block;
}
.counter h3{
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 10px;
}
.counter.red:before,
.counter.red:after{
    background-color: #CF0936;
}

.counter.blue:before,
.counter.blue:after{
    background-color: #0D7CEB;
}

.counter.green:before,
.counter.green:after{
    background-color: #0CA04D;
}

.counter.blue .counter-value{ color: #0D7CEB; }
.counter.red .counter-value{ color: #CF0936; }
.counter.green .counter-value{ color: #0CA04D; }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}